name: Build

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always


permissions:
  checks: write
  contents: read


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      CARGO_INCREMENTAL: 0

    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly

      - run: rustup default nightly

      - run: cargo build

      - run: cargo test
