name: Build

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always


permissions:
  checks: write
  contents: read


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      CARGO_INCREMENTAL: 0

    steps:
      - uses: actions/checkout@v6

      - name: Install, build, and upload your site
        uses: withastro/action@v5

